server:
  port: 6001

spring:
  application:
    name: zuul-gateway

eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka/

  # 路由相关配置
zuul:
  prefix: /v2
  # 配置路由
  routes:
    # 对于每个微服务，可以指定一个唯一的key值，该值可以自定义
    user:
      # 将 /user-service/ 开头的请求映射到 user-provider这个微服务上
      path: /user-service/**
      serviceId: user-provider
#    product:
